@model PagedList.IPagedList<Model.EF.type_products>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h6 class="card-title m-t-40">Danh sách loại sản phẩm</h6>
@using (Html.BeginForm("Index", "TypeProduct", FormMethod.Post))
{
    <div class="row">
        <div class="col-lg-12">
            <div class=" col-md-4">
                <input type="text" class="form-control" name="searchString" />
            </div>
            <div>
                <button type="submit" class="btn btn-success">Tim kiếm</button>
                <a class="btn btn-primary" href="/Admin/TypeProduct/AddTypeProduct">Thêm mới</a>
            </div>
        </div>
    </div>
    if (TempData["Success"] != null)
    {
        <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
    }
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{int i = 0;}
                @foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@item.name</td>
                        <td>@item.description</td>
                        <td>@item.image</td>
                        <td>
                            <a href="/Admin/TypeProduct/EditTypeProduct/@item.id">Sửa</a>
                            @Ajax.ActionLink("Xoá","DeleteTypeProduct","TypeProduct",new { id = item.id }, new AjaxOptions
                            {
                                Confirm = "Bạn muốn xoá bản ghi này",
                                OnComplete = "$('#row'" + item.id + ").remove()",
                                HttpMethod = "GET"
                            }
                             )
                        </td>
                    </tr>

                }
            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("index", new { page }))
    </div>


}
