@model Model.EF.product
@using Model.EF
@{
    ViewBag.Title = "EditProduct";
}
<h2>Edit Product</h2>
@using (Html.BeginForm("EditProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form>
        @Html.ValidationSummary(false, "", "error")
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            @Html.TextBoxFor(x => x.name, new { @class = "form-control", @placeholder = "Enter name" })
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Category</label>
            <select class="form-control" name="id_type" id="id_type">
                @foreach (var item in (List<type_products>)ViewBag.ListCategory)
                {
                    <option value="@item.id">@item.name</option>
                }

            </select>


            @*@Html.DropDownListFor(x => x.id_type, (IEnumerable<SelectListItem>)ViewBag.ListCategory, new { htmlAttributes = new { @class = "form-control" } })*@
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            @Html.TextAreaFor(x => x.description, 10, 40, new { @class = "form-control", @placeholder = "Enter description" })
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Unit Price</label>
            @Html.TextBoxFor(x => x.unit_price, new { @class = "form-control", @placeholder = "Enter unit price" })
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Promotion price</label>
            @Html.TextBoxFor(x => x.promotion_price, new { @class = "form-control", @placeholder = "Enter promotion price" })
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Image</label>
            <input name="images" id="images" class="form-control" type="file" />
        </div>

        

        <div class="form-group">
            <label for="exampleInputEmail1">Sale</label>
            @Html.CheckBoxFor(x => x.isSale, new { @class = "form-control" })
            @*<input type="checkbox" name="isSale" id="isSale" class="form-control" value="true"/>*@
        </div>

        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
}


